node_modules/
dist/
coverage/
.env
*.log

fe/node_modules/
fe/dist/
be/node_modules/
be/dist/

.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env.production
be/.env.production
